.ContactsPage {
    &__wrapper {

        display: flex;
    }
}


@media screen and (max-width: 1200px) {
    .ContactsPage {
        &__wrapper {
            justify-content: space-around;
        }
    }
  }

@media screen and (max-width: 992px) { 
    .ContactsPage {
        &__wrapper {
            justify-content: space-around;
        }
    }
} 