.Works {

    &__wrapper {

        &-title {}

        &-accardion {

            &-item {
                &-titleWrapper {
                    cursor: pointer;
                    display: flex;
                    padding-left: 35px;
                    justify-content: start;
                    align-items: center;
                    border-bottom: 2px solid black;
                    gap: 7px;
                     &-img {
                        color: #1E1E1E;
                        text-align: right;
                        font-size: 48px;
                        font-weight: 900;
                        transition: 0.6s all;

                    }

                    &-number {
                        color: #1E1E1E;
                        text-align: right;
                        font-family: Oswald;
                        font-size: 48px;
                        font-style: normal;
                        font-weight: 300;
                        line-height: normal;
                    }

                    &-title {
                        color: #1E1E1E;
                        font-family: Oswald;
                        font-size: 48px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                    }

                }

                &-content {
                    margin-top: 15px;
                    display: flex;
                    // align-items: center;
                    justify-content: space-around;

                    &-text {
                        width: 500px;
                        &-title {
                            margin-top: 15px;
                            color: #21A7AF;
                            font-family: Oswald;
                            font-size: 24px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: normal;
                            // width: 400px;
                            
                        }

                        &-description {
                            margin-top: 12px;
                            color: #1E1E1E;
                            font-family: Oswald;
                            font-size: 20px;
                            font-style: normal;
                            font-weight: 300;
                            line-height: normal;
                        }
                    }
                    &-slider {
                        position: relative;
                        width: 45%;
                        &-prev {
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                            z-index: 10;
                            width: 30px;
                            height: 30px;
                            background-color: white;
                            border: none;
                            cursor: pointer;
                            &::before {
                                content: '';
                                position: absolute;
                                top: 0px;
                                transform: translateX(50%);
                                right:  50%;
                                background-image: url(../../../assets/icons/left-arrow.png);
                                background-size: 100%;
                                width: 100%;
                                height: 100%;
                            }
                        }
                        &-next {
                            padding: 0;
                            position: absolute;
                            right: 0;
                            top: 50%;
                            transform: translateY(-50%);
                            z-index: 10;
                            width: 30px;
                            height: 30px;
                            background-color: white;
                            border: none;
                            cursor: pointer;
                            
                            &::before {
                                content: '';
                                position: absolute;
                                top: 0px;
                                transform: translateX(50%);
                                right:  50%;
                                background-image: url(../../../assets/icons/right-arrow.png);
                                background-size: 100%;
                                width: 100%;
                                height: 100%;
                            }
                        }
                        &-item {
                            // height: auto;
                            // width: 100px;
                            img {
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }
                }


            }


        }
    }

}

.tg {
    border-radius: 5%;
    overflow: hidden;
    img {
        // border-radius: 50px;
    }
} 


.titleWrapper-active {
    border-bottom: 2px solid black;

}

.img-active {
        color: #21A7AF;
        transform: rotate(225deg);
        transition: 0.6s all;
}

.accardion-content {
    max-height: 0px;
    overflow: hidden;
    transition: all 0.5s  cubic-bezier(0,1,0,1);

}

.accardion-content-active {
    height: auto;
    max-height: 9999px;
    // overflow: visible;
    // transition: all 0.5s cubic-bezier(1,0,1,0);
    // transition: overflow 0.5s;

}


@media screen and (max-width: 992px) {
    .Works {

        &__wrapper-accardion-item-content {
            flex-wrap: wrap;
            row-gap: 50px;
        }
        &__wrapper-accardion-item-content-slider {
            width: 400px;
        }
    
        
    }
  }
  
  @media screen and (max-width: 768px) {
  
      
  }
  
  @media screen and (max-width: 576px) { 
    .Works__wrapper-accardion-item-titleWrapper {
        flex-wrap: wrap;
    }
    .Works__wrapper-accardion-item-titleWrapper-number {
        font-size: 25px;
    }
    .Works__wrapper-accardion-item-titleWrapper-img {
        font-size: 25px;
    }
    .Works__wrapper-accardion-item-titleWrapper-title {
        font-size: 25px;
    }
    .Works__wrapper-accardion-item-content-text-title {
        font-size: 16px;
    }
    .Works__wrapper-accardion-item-content-text-description {
        font-size: 14px;
    }
  }

  @media screen and (max-width: 400px) { 
   
    .Works {

        &__wrapper-accardion-item-content-slider {
            width: 100%;
        }
    }
  }