.MainPage {
    display: flex;
    justify-content: space-between;   
    // width: 100%;
}

@media screen and (max-width: 1921px) { 
    .MainPage {
        justify-content: space-between;  
        // gap: 250px; 
    }
}

@media screen and (max-width: 1750px) {
    .MainPage {
        // justify-content: space-around;   
    }
  }
  
  
  @media screen and (max-width: 1450px) {
   
    }

@media screen and (max-width: 992px) { 
    .MainPage {
        display: flex;
        justify-content: space-around;
    }
} 

@media screen and (max-width: 768px) { 
    .MainPage{
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 576px) {  
    .MainPage {
        margin: 0 auto;
        display: block;
    }

}