

.SideBar {
    position: fixed;
    height: auto;
    width: 300px;
    background-color: #ffffff;
    // .SideBar__img

    &__img {
        width: 70%;
        margin: 0 auto;
        text-align: center;
        img {
            width: 100%;
        }
    }

    &__list {
        width: max-content;
        margin: 100px auto 0 auto;
        &-Link {
            margin-top: 50px;
            color: #1E1E1E;
            text-align: center;
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }
    }
}
.SideBar-Link {
}
