.Footer {
    // height: 630px;
    margin-top: 200px;
    min-height: 150px;
    background: #1E1E1E;
    &__wrapper {
        padding-top: 10px;
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        &-information {
            margin-top: 5px;
            width: max-content;
            &-address {
                color: #9A9A9A;
                font-size: 14px;
                font-weight: 400;
            }
            &-contacts {
                gap: 8px;
                display: flex;
                color: white;
                align-items: center;
                font-size: 24px;
                font-weight: 400;
                &-number {
                    text-decoration: none;
                    color: white;
                    &:hover {
                        border-bottom: 1px solid white;
                    }
                }
                &-email {
                    text-decoration: none;
                    color: white;
                    &:hover {
                        border-bottom: 1px solid white;
                    }
                }
            }
            &-links {
                margin-top: 20px;
                display: flex;
                align-items: center;
                gap: 6px;
                &-link {
                    cursor: pointer;
                    &:hover {
                        color: #1EC838;
                        transition: .3s ease;
                        img {
                            stroke: #1EC838 ;
                        }
                    }
                }
            }
        }
        &-copyrate {
            width: 500px;
            color: #F5F5F5;
            font-size: 14px;
            font-weight: 400;
            display: flex;
            align-items: end;
        }
    }
}


@media screen and (max-width: 1921px) {  
   .Footer {
    margin-top: 300px;
   }
  }
  
  @media screen and (max-width: 1750px) {

  }
// background: #1E1E1E;

@media screen and (max-width: 1450px) {
    
}

@media screen and (max-width: 1200px) {
  
  }
  
  @media screen and (max-width: 939px) {
    .Footer {
        &__wrapper {

            &-information{
                
                &-links {
                    justify-content: center;
                }
            }
            text-align: center;
            &-copyrate {
                margin-top: 50px;
            }
        }
    }
  }
  
  @media screen and (max-width: 768px) {
    
      
      
  }
  
  @media screen and (max-width: 576px) { 
    .Footer {
        &__wrapper {
            text-align: center;
            &-information{
                &-contacts {
                    flex-wrap: wrap;
                    font-size: 15px;
                }
                &-links {
                    justify-content: center;
                }
            }
            &-copyrate {
                margin-top: 50px;
            }
        }
    }
  }