.Teem {
    height: 600px;
    margin-top: 250px;
    &__wrapper {

    }
}


// .swiper-button-prev {
//     bottom: 0px;
// top: 0;
// }


.slick-dots {
    // background: rgb(255, 155, 155);
    bottom: -70px;
    right: 50%;
    margin: 0 auto;
    width: auto;
    border-top: 2px solid #000000;
}

.slick-dots li {
    background: transparent;
    // border-top: 3px solid #000000;
    margin: 0 25px 0 25px;

}

.slick-dots li button:before {
    content: none;

}


.slick-dots li.slick-active button:before {
    // display: none;
    content: '';
    opacity: 1;
    width: 70px;
    left: -115%;
    height: 5px;
    background-color: #21A7AF;
    
}


.slick-dots .slick-active button {
    color: #21A7AF;
    // border-top: 3px solid #21A7AF;
    font-size: 25px;
    margin-top: 15px;
    

   
    
}

.slick-dots li button {
    background: transparent;
    color: #000000;
    font-size: 18px;
    font-weight: 800;
    transition: 0.4s all ;
    margin-top: 19px;

}

// .slick-dots li button:hover {
//     background-color: #0000002e;
//     border-radius: 50%;
//     width: 20px;
//     height: 20px;
// }

.slick-dots li button:before {
    top: -4px;
}