.Tabs {
    border-bottom: 1px solid #1E1E1E;
    // width: 85%;

    // .Tabs__wrapper
    &__wrapper {
        margin: 3%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 20px;


    }

    // .Tabs__wrapper-item

    &__wrapper-item {
        color: #1E1E1E;
        font-family: Oswald;
        font-size: 20px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        transition: color 0.1s ;
        border: none;
        background: white;
        &:hover {
            cursor: pointer;
            border-bottom: 1px solid #1E1E1E;
        }
    }
}


.active-tab {
    color: #21A7AF;
}



@media screen and (max-width: 576px) {
    .Tabs__wrapper-item {
        font-size: 14px;
    } 
}